/* stylelint-disable */
@import "tailwindcss" source(none);
@source "../views/**/*.{templ}";

@plugin "./daisyui.js" {
  
}
/* Optional for custom themes – Docs: https://daisyui.com/docs/themes/#how-to-add-a-new-custom-theme */

@plugin "./daisyui-theme.js" {
  name: "real";
  default: true;
  prefersdark: true;
  color-scheme: dark;
  --color-base-100: oklch(26.9% 0 0);
  --color-base-200: oklch(25.62% 0.0 0);
  --color-base-300: oklch(19% 0 0);
  --color-base-content: oklch(87.609% 0 0);
  --color-primary: oklch(35% 0 0);
  --color-primary-content: oklch(100% 0 0);

  /* Making these colors POP and lighter! */
  --color-secondary: oklch(75% 0.18 200); /* Lighter Vibrant Teal */
  --color-secondary-content: oklch(10% 0 0); /* Darker for contrast */

  --color-accent: oklch(80% 0.22 330); /* Lighter Lively Magenta */
  --color-accent-content: oklch(10% 0 0); /* Darker for contrast */

  --color-neutral: oklch(0% 0.07 240); /* Lighter Cool, slightly bluish dark gray */
  --color-neutral-content: oklch(98% 0 0); /* Lighter for contrast */

  --color-info: oklch(75% 0.22 250); /* Lighter Clear Blue */
  --color-info-content: oklch(10% 0 0); /* Darker for contrast */

  --color-success: oklch(75% 0.22 140); /* Lighter Fresh Green */
  --color-success-content: oklch(10% 0 0); /* Darker for contrast */

  --color-warning: oklch(93.71% 0.199 105.01); /* Lighter Punchy Orange */
  --color-warning-content: oklch(10% 0 0); /* Darker for contrast */

  --color-error: oklch(75% 0.25 20); /* Lighter Strong Red */
  --color-error-content: oklch(10% 0 0); /* Darker for contrast */
  
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
